@font-face {
  font-family: "iconfont"; /* Project id 3247807 */
  src: url('iconfont.woff2?t=1652000489291') format('woff2'),
       url('iconfont.woff?t=1652000489291') format('woff'),
       url('iconfont.ttf?t=1652000489291') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang1-copy:before {
  content: "\ea0c";
}

.icon-touxiangbianji:before {
  content: "\e6b7";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-rili-tianchong:before {
  content: "\e619";
}

.icon-wenjianjia:before {
  content: "\e64b";
}

.icon-24gf-tags3:before {
  content: "\e886";
}

.icon-icon-arrow-top4:before {
  content: "\e679";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-yuedushuliang:before {
  content: "\e645";
}

.icon-cai-copy:before {
  content: "\ea0b";
}

.icon-wj-wjj:before {
  content: "\e7b8";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-youxiang:before {
  content: "\e612";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-queren:before {
  content: "\e65b";
}

.icon-mima1:before {
  content: "\e60c";
}

.icon-mimakejian:before {
  content: "\e616";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-mimabukejian:before {
  content: "\e625";
}

