@font-face {
  font-family: 'iconfont';  /* Project id 3247807 */
  src: url('//at.alicdn.com/t/font_3247807_ceux735rjd6.woff2?t=1648886417312') format('woff2'),
       url('//at.alicdn.com/t/font_3247807_ceux735rjd6.woff?t=1648886417312') format('woff'),
       url('//at.alicdn.com/t/font_3247807_ceux735rjd6.ttf?t=1648886417312') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-queren:before {
  content: "\e65b";
}

.icon-mima1:before {
  content: "\e60c";
}

.icon-mimakejian:before {
  content: "\e616";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-mimabukejian:before {
  content: "\e625";
}

.icon-mima:before {
  content: "\e620";
}
